<configuration>

    <springProperty name="FILE_PARENT" source="logging.file.parent"/>
    <springProperty name="FILE_NAME" source="logging.file.name"/>
    <springProperty name="LOG_PATTERN" source="logging.pattern"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_PARENT}/${FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PARENT}/${FILE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Logger for com.bassem -->
    <logger name="com.bassem" level="DEBUG">
        <appender-ref ref="CONSOLE"/>  <!-- Log to console -->
        <appender-ref ref="FILE"/>     <!-- Log to file -->
    </logger>
</configuration>
